/*INICIO DOS VALORES PADRÕES*/
:root{
  --blue: #00b8b8;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --border: .2rem solid rgba(0, 0, 0, .1);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0.1);
}
/*FIM DOS VALORES PADRÕES*/

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;

  transition: all ease .2s;
}

/*INICIO DA MANIPULAÇAO DA BARRA DE ROLAGEM DO NAVEGADOR*/
*::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}

*::-webkit-scrollbar-thumb{
  background-color: var(--blue);
}
/*FIM DA MANIPULAÇAO DA BARRA DE ROLAGEM DO NAVEGADOR*/

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

.link-btn{
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: .5rem;
  background-color: var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--white);
}

.link-btn:hover{
  background-color: var(--black);
  color: var(--white);
}

/*INICIO DA ESTRUTURA DO HEADER*/
.header{
  padding: 2rem;
  border-bottom: var(--border);
}

.header .logo{
  font-size: 2rem;
  color: var(--black);
}

.header .logo span{
  color: var(--blue);
}

.header .nav a{
  margin: 0 1rem;
  font-size: 1.7rem;
  color: var(--black);
}

.header .nav a:hover{
  color: var(--blue);
}

#menu-btn{
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}
/*INICIO DA ESTRUTURA DO HEADER*/
















/*INICIO DA ESTRUTURA RESPONSIVA*/
@media(max-width: 991px){
  html{
    font-size: 55%;
  }

  .header .link-btn{
    display: none;
  }
} 

@media(max-width: 768px){
  #menu-btn{
   display: inline-block;
  }

  /*INICIO Aqui vamos deixar o menu de forma responsiva, colocando ele para ficar abaixo de todo header*/
  .header .nav{
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      padding: 1rem 0;
      text-align: center;
      flex-flow: column;
      /*Aqui vamos recolhe todo menu para cima*/
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav a{
      margin: 1rem 0;
      font-size: 2rem;
  }
  /*INICIO Aqui vamos deixar o menu de forma responsiva, colocando ele para ficar abaixo de todo header*/
}

@media(max-width: 450px){
  html{
    font-size: 50%;
  }
}
/*FIM DA ESTRUTURA RESPONSIVA*/